---
layout: default
---

<script>
  function filter(tag) {
    setActiveTag(tag);
    showContainer(tag);
  }
  function setActiveTag(id) {
    // loop through all items and remove active class
    var items = document.getElementsByClassName('uk-card-box');
    for(var i=0; i < items.length; i++) {
      items[i].classList.remove('active');
    }
    // set the selected id's item to active
    var item = document.getElementById(id + '-card');
    if(item) {
      item.classList.add('active');
    }
  }
  function showContainer(id) {
    // loop through all lists and hide them
    var lists = document.getElementsByClassName('article');
    for(var i=0; i < lists.length; i++) {
      lists[i].classList.add('hidden');
    }
    // remove the hidden class from the list corresponding to the selected id
    var list = document.getElementById(id + '-article');
    if(list) {
      list.classList.remove('hidden');
    }
  }

</script>

<div class="tm-margin-large-top">
    <div class="uk-container uk-text-center">

        {% if page.hero.subtitle %}<p class="uk-margin-remove-bottom tm-overtitle uk-margin-top uk-text-uppercase letter-spacing-l text-shadow uk-text-muted" data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 100">{{ page.hero.subtitle }}</p>{% endif %}
        <h1 class="uk-margin-small-top uk-heading-hero text-shadow" data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 200">{{ page.hero.title }}</h1>

        <div class="uk-grid-medium uk-child-width-1-2@s uk-child-width-1-3@m uk-grid-small uk-grid-match tm-margin-large-top uk-text-center" data-uk-grid data-uk-scrollspy="cls: uk-animation-slide-bottom; delay: 300">
          {% for article in site.support %}
            <div>
                <a id="{{ article.title | slugify }}-card" href="#{{ article.title | slugify }}-article" class="uk-card uk-card-primary uk-card-hover uk-card-box uk-card-body uk-border-rounded" data-uk-scroll="duration: 400; offset: 150;"{% if page.filter %} onclick="filter('{{ article.title | slugify }}');"{% endif %}>
                    {% if article.icon %}<span class="uk-icon-forder uk-border-rounded"><span data-uk-icon="icon: {{ article.icon }}; ratio: 2"></span></span>{% endif %}
                    <p>{{ article.title }}</p>
                </a>
            </div>
          {% endfor %}
        </div>

    </div>
</div>

<div>
    <div class="uk-container uk-container-small">

        {% for article in site.support %}

          <article id="{{ article.title | slugify }}-article" class="article article-support">

            <h2 class="article-support-title uk-margin-medium-bottom text-shadow">{{ article.title }}<a href="#" data-uk-totop data-uk-scroll class="uk-float-right"></a></h2>
            <hr class="article-support-rule">

            {% if article.toc %}
            <div class="article-toc-{{ forloop.index }}"></div>
            {% endif %}

            <div class="article-content article-content-{{ forloop.index }}">{{ article.content }}</div>

          </article>

          {% if article.toc %}
            <script>
              tocbot.init({
                tocSelector: '.article-toc-{{ forloop.index }}',
                contentSelector: '.article-content-{{ forloop.index }}',
                headingSelector: 'h3',
                scrollSmooth: true,
                scrollSmoothDuration: 400,
              });
            </script>
          {% endif %}

        {% endfor %}

    </div>

</div>

{% if page.cta %}
  {% include cta.html %}
{% endif %}
